/* title control */
.gameTitle {
    text-align: center;
    font-size: 7rem;
    font-family: 'VT323', monospace;
}

/* main section control */
.mainSection {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

/* Control Panel section */
.leftControls {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    background-color: white;
}

.leftControls>button,
.colorPicker,
#gridSizeSlider {
    width: 70%;
    margin-top: 2rem;
    height: 3rem;
}

/* Bottom controls */
.bottomControls {
    display: flex;
    justify-content: center;
}


/* sketch box control */
.sketchCon {
    width: 40rem;
    height: 40rem;
    border: 1px black solid;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    background-color: white;
}



.createdDiv {
    margin: 0;
}

.black {
    background: black;
    transition: all 0.5s ease
}

.white {
    background: white;
    transition: all 0.5s ease
}

body {
    background: linear-gradient(to top, #c6ffdd, #fbd786, #f7797d);
    background-repeat: no-repeat;
    background-attachment: fixed;
}